
<style>
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        margin: 20px;
    }

    #tit{
        margin: 50px;
        margin-left: 600px;
        width: 100%;
    }
    img{
        height: 300px;
        width: 450px;
    }
    #div1 > a{
        margin: 15px;
    }
    #div1{
        display: flex;
        flex-wrap: wrap;
    }


    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: black;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    .d1{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
       </style>
{% extends 'server/base.html' %}

{% load static %}
{% block title %}Catalog{% endblock %}
{% block content %}

<div class="=body">
        <div id="div1">
            <div id="tit"><h2>Tea Catalog</h2></div>
                <div class="d1">
                    <a href="/blacktea">
                        <img id="myImg" src="{{ product1.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                        <div id="caption">Black Tea</div>
                    </a>
                    <form action="{% url 'add_to_basket' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to basket</button>
                            <div id="myModal" class="modal">
                              <span class="close">&times;</span>
                              <img class="modal-content" id="img01">
                            </div>
                    </form>
                </div>

            <div class="d1">
                <a href="/greentea">
                    <img id="myImg" src="{{ product2.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                    <div id="caption">Green Tea</div>
                </a>
                <form action="{% url 'add_to_basket' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                        </div>
                </form>
            </div>

            <div class="d1">
                <a href="/redtea">
                    <img id="myImg" src="{{ product3.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                    <div id="caption">Red Tea</div>
                </a>
                <form action="{% url 'add_to_basket' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                        </div>
                </form>
            </div>

            <div class="d1">
                <a href="/puertea">
                    <img id="myImg" src="{{ product4.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                    <div id="caption">Puer Tea</div>
                </a>
                <form action="{% url 'add_to_basket' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                    </div>
                </form>
            </div>

            <div class="d1">
                <a href="/whitetea">
                    <img id="myImg" src="{{ product5.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                    <div id="caption">White Tea</div>
                </a>
                <form action="{% url 'add_to_basket' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                    </div>
                </form>
            </div>

            <div class="d1">
                <a href="/reletedtea">
                    <img id="myImg" src="{{ product6.image.url }}" alt="Snow" style="height: 300px;width: 450px;">
                    <div id="caption">Related Tea</div>
                </a>
                <form action="{% url 'add_to_basket' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to basket</button>
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                    </div>
                </form>
            </div>

        </div>
</div>
<script src="{% static 'js/script.js'%}"></script>
{% endblock %}